body {
  background: rgb(64, 64, 64);
  color: lightgray;
  margin: auto;
  padding: 32px;
  text-align: center;
}

#time {
  font-size: 128px;
}

#date {
  font-size: 64px;
}

footer {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 32px;
}

img {
  scale: 0.75;
  transform: rotate(-360deg);
  transition: transform 0.5s;
  vertical-align: middle;
}

img:hover {
  transform: rotate(360deg);
  transition: transform 0.5s;
}
