body {
  background: gray;
  color: lightgray;
  margin: auto;
  text-align: center;
}

#time {
  font-size: 128px;
}

#date {
  font-size: 64px;
}

footer {
  margin-top: 64px;
}

a:hover {
  font-weight: bold;
}
